/* This is the css file of my cv */


:root { 
  --main-width: 1000px;
}

a {text-decoration: none;}

p{text-align: justify;}

/*cv titles */
   
span.title {
  
 text-align: center; 
   
  font-size: 35px;  
  font-weight: bold;
  font-family: Monaco;
}

.intro { 
  font-style: italic;
  font-weight: lighter;
}

/* the grid column layout */

.grid {  
  display: grid;    
  grid-template-columns: [first] 15% [line2] auto [line3] auto [line-4] auto [end];
  grid-template-rows: [row1-start] auto [row1-end] auto [third-line] auto [last-line];
  grid-template-areas:
    "section item org date"
    "section description description description";
  column-gap: 5px; 
  row-gap: 5px ; 
  
  background:linear-gradient(#D5D8DC  ,#D5D8DC  ) 150px/1.5px 100% no-repeat;
} 

/* #FBEEE6 */

.section {
  color: #C0392B; 
  font-size: 20px;
  grid-area: section;
  font-weight: bold; 
}
 
.item {
  text-align: left;
  font-size: 16px;
  font-weight: semi-bold;
  color: #7FB3D5;
  grid-area: item;
}

.item >h4 {
  text-align: left;
  color: purple;
  grid-area: item;
}

.item >ul {
 font-size: 13px;
  text-align: left;
  color: black;
  grid-area: item;
}


.org {
  grid-area: org;
  font-size: 16px;
  font-weight: 300 ;
  text-align: center;
  color: #F5B041;
}

.date {
  grid-area: date;
  font-size: 16px;
  font-weight: lighter;
  text-align: right;
  font-style: italic;
  color: grey;
}

.description {
  font-size: 15px;
  grid-area: description;
}

 
/* The details section */

details {
  position: relative;
  border-top: 0.1px solid grey;
  border-bottom: 0.1px solid grey;
  width: 100%;
  cursor: pointer} 
  
details summary::-webkit-details-marker {
  display:none;
} 

details summary { 
  font-weight: lighter;
}

details[open] summary ~ * {
  animation: open 0.4s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }
}

li > .publication-doi {
  text-decoration: none;
  cursor: pointer;
  font-weight: 250;
  color: black;
  position: relative;
}

li >.publication-doi::after{
  content: "";
  background: #D0ECE7     ;
  width: 100% + 5px;
  position: absolute;
  bottom: .5px;
  height: 5px;
  left: -2px; 
  right: 0;
  z-index:-1;
	transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

li > .publication-doi:hover::after{
	height: calc(100%)
}



