/* This is the css file of my cv */

:root { 
  --main-width: 1000px;
}

.author { 
  font-weight:;
  color: black;
}

.title {
  font-family: Monospace;
  font-weight: bold; 
  color:black; 
}

.date {  
  color: grey;
  font-weight: 150;
  font-style: italic;
  position:float; 
  text-align: right; 
}
 
.edition {
  color: black;
  font-weight: 250;
}


/* the grid column layout */

.grid {  
  display: grid;
  grid-template-areas:
    "reference"
    "description";
  column-gap: 5px; 
  row-gap: 3px ; 
} 

/* #FBEEE6 */

.reference {
  background: #FEE192;
  font-size: 18px;
  grid-area: reference;=
}

.description {
  background: #C7EFC4;  
  font-weight: lighter;
  font-size: 15px;
  grid-area: description;  
}





